@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap");

html {
}

body {
  margin: 0;
  padding: 0;
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  height: 60px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 65px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  display: block;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15),
    0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  z-index: 2;
}

.navbar .logo {
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16pt;
}

.navbar .logo a {
  text-decoration: none;
  color: #090909;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 4em;
}

.navbar ul li {
  display: inline;
  text-decoration: none;
}

.navbar ul li a {
  padding: 0.25em 1em 0.25em 1em;
  color: #090909;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
